name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v4.0
        with:
          version: 3.35.1
          cache: true
          channel: stable

      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1.7.1
        with:
          sdk: 3.9.0
      
      - name: Install workspace dependencies
        run: flutter pub get
      
      - name: Analyze project source
        working-directory: app
        run: flutter analyze

      - name: Run main app tests 
        working-directory: app
        run: flutter test

      - name: Run home_assistant_websocket tests 
        working-directory: home_assistant_websocket
        run: flutter test
